<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/home.css">
    <title>Moonfish</title>
</head>
<body bgcolor="#D3D3D3">

    <div class="background_shape"></div>
    <div class="logo"></div>
    <button class="logout-button" onclick="location.href='{% url 'capybara_chat:logout' %}'">Log out</button>
    <!-- <div class="logout">
        <a href="{% url 'capybara_chat:logout' %}" class="">Log out</a>
    </div> -->

        <form id="apiform" method="POST" action=""> {% csrf_token %}
            <input class="recipe_search" placeholder="search recipe" type="search" id="query" name="query">
            <button class="search_button" type="submit">Search</button>
        </form>
    </div>

    {% if results %}
        <div class="container">
                <h2>Search for {{ query }}</h2>
                <div class="row row-cols-3">
                    {% for item in results %}
                        <div class="col">
                            <div class="recipe-card">
                                <img src="{{ item.image }}" alt="">
                                <div class="title">{{ item.title }}</div>
                                <button onclick="location.href='{{ item.sourceUrl }}'" class="block go-to-recipe arrow_right">Recipe</button>
                                <!-- {% if forloop.first %}
                                    {% for url in recipe_urls %}
                                            <button onclick="location.href='{{ url }}'" class="block go-to-recipe arrow_right">Recipe</button>
                                    {% endfor %}
                                {% endif %} -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
    {% else %}
        <div class="container">
            <div class="recommend_recipes">Recommend Recipes</div>
            <div class="row row-cols-3">
            {% for item in random_recipes %}
                <div class="col">
                    <div class="recipe-card">
                        <img src="{{ item.image }}" alt="">
                        <div class="title">{{ item.title }}</div>
                        <button onclick="location.href='{{ item.sourceUrl }}'" class="go-to-recipe arrow_right block">Recipe</button>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% if not recommend_recipes and results %}
        <div class="limit-api-key">
            <div class="image"></div>
            <div class="message">Your daily points limit of 150 has been reached.</div>
            <a href="https://spoonacular.com/food-api/pricing" target="_blank">Are you hungry?</a>
        </div>
    {% endif %}
    {% endif %}
<!-- </div> -->

</body>
</html>